* {
}

@font-face {
        font-family: 'PixelifySans-Regular';
        src: url('./fonts/PixelifySans-Regular.ttf') format('truetype');
}

body {
        font-family: 'PixelifySans-Regular', sans-serif;
}

p {font-size:125%;}
        ul {font-size:120%;}
        body{background:honeydew;}

label {
        position:fixed;
        right:10px;
        top:5px;
        font-size: 20px;
}

button {
        background-color: lightblue;
}