* {
        font-family: VT323;
}

p {font-size:125%;}
        ul {font-size:120%;}
        body{background:honeydew;}

label {
        position:fixed;
        right:10px;
        top:5px;
        font-size: 20px;
}

button {
        background-color: lightblue;
}