
@font-face {
        font-family: 'VT323-Regular';
        src: url('./fonts/VT323-Regular.ttf') format('truetype');
}

body {
        font-family: 'VT323-Regular', sans-serif;
        background:honeydew;
}

p { font-size:125%; }

ol { font-size:120%; }

label {
        position:fixed;
        right:10px;
        top:5px;
        font-size: 20px;
}

a {
        font-size:120%;
}

button { background-color: lightblue; }