<!doctype html>
<html>

<head>
    <script src="http://localhost:35729/livereload.js" rel="preload" async></script>
    <link rel="stylesheet" href="./start-result.css" />

    <title>WOULD YOU RATHER</title>
</head>

<body>
<h1>"would you rather..."</h1>
<h2>QUIZGAME</h2>
<h3>test yourself!</h3>
<a href="wouldyourather">
    <button>START</button>
</a>

<a href="/user" >
    <label id="left">click here for user area (login required)</label>
</a>

<a href="/login" >
    <label id="right">login</label>
</a>

</body>

</html>