<!doctype html>
<html>

<head>
    <script src="http://localhost:35729/livereload.js" rel="preload" async></script>
    <link rel="stylesheet" href="./styles.css" />

    <title>WOULD YOU RATHER</title>
    <style>
        body {padding: 150px;}
        * {
        text-align: center;
        font-size: 120%;
        }
        h1 {font-size:140%; font-type:bold;}
    </style>
</head>

<body>
<h1>"would you rather..."</h1>
<h2>QUIZGAME</h2>
<h3>test yourself!</h3>
<a href="wouldyourather">
    <button>START</button>
</a>

<a href="/user" >
    <label id="left">Click if you are logged in as a user</label>
</a>

<a href="/login" >
    <label id="right">Login</label>
</a>

</body>

</html>