<!DOCTYPE html>
<html lang="en">

<head>
    <script src="http://localhost:35729/livereload.js" rel="preload" async></script>
    <link rel="stylesheet" href="./wouldyourather.css" />
    <title>would you rather...</title>

</head>

<body>

    <h1>would you rather...</h1>

    <form action="/results" method="post">
        <input type="hidden" name="{{_csrf.parameterName}}" value="{{_csrf.token}}" />
        <ol>
            {{#questions}}
                <li>

                    <input type="radio" name="{{question_id}}-answer" value="{{option1_id}}"> ...{{option1}}
                    <br>
                    <div style="text-indent: 30px;">
                        <i><b>or</b></i>
                    </div>
                    <input type="radio" name="{{question_id}}-answer" value="{{option2_id}}"> {{option2}}?
                    <br><br><br>
                </li>
            {{/questions}}
        </ol>
        <a>
            <button type="submit">FERTIG &check;</button>
        </a>
    </form>
    <br>

    <a href="/" class="center">
        <label>startseite</label>
    </a>

</body>

</html>